services:
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: sa_php
    working_dir: /var/www/html
    user: "1000:1000"
    volumes:
      - ./backend:/var/www/html
    depends_on:
      - db

  nginx:
    image: nginx:stable
    container_name: sa_nginx
    ports:
      - "8080:80"
    volumes:
      - ./backend:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  db:
    image: mysql:8.0
    container_name: sa_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: segurapp
      MYSQL_USER: sa_user
      MYSQL_PASSWORD: sa_pass
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  node:
    image: node:20-slim
    container_name: sa_node
    working_dir: /usr/src/app
    volumes:
      - ./frontend:/usr/src/app
    command: bash -c "npm install && npx vite --host 0.0.0.0 --port 3000"
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    stdin_open: true
    tty: true

volumes:
  db_data:
